extends layout

block content 
  div.form-content
    h1.form-title #{title}
    form(method='post' action='').passcode-form
      div.form-group
        label(for='passcode') Insert the passcode: 
        input(type='password' name='passcode' autofocus)
        button(type='submit').submit-btn Submit
    
    if errors 
      ul 
        for error in errors
          li!= error.msg